.job_card {
  border: 1px solid blue;
  max-width: 25rem;
  margin-bottom: 3rem;
  padding: 1.5rem;
}

.post_details {
  display: inline-block;
  padding: 4px 6px;
  box-shadow: rgba(6, 6, 6, 0.05) 0px 2px 6px 0px;
  border-radius: 10px;
  border: 1px solid rgb(230, 230, 230);
  margin: 0rem 0rem 1rem 0rem;
  font-size: 0.85rem;
}

.job_card_header {
  display: flex;
}

.job_card_header img {
  width: 3rem;
  height: 4rem;
  margin-right: 1rem;
}

.job_title h3,
.job_title h2,
.job_title p {
  margin: 0rem 0rem 0.6rem 0rem;
}

.job_title h3 {
  font-size: 1rem;
  color: #c8c8c8;
}

.job_title h2 {
  font-size: 1.2rem;
}

.job_title p {
  font-size: 0.8rem;
}

.job_salary p {
  font-size: 1.02rem;
  margin-bottom: 0.6rem;
}

.job_description {
  position: relative;
}

.job_description > strong {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.job_description div > strong,
.job_description p {
  font-size: 1.02rem;
}

.job_description .job_info {
  height: 12rem;
  /* border: 1px solid black; */
  overflow: hidden;
}

.transparent_bar {
  height: 6rem;
  width: 100%;
  bottom: 1rem;
  position: absolute;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}
