* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.jobs_section {
  width: 95vw;
  margin: 0 auto;
  border: 1px solid black;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
